* {
    box-sizing: border-box;
    
}


.container{
    width: 100%;
    max-width: 935px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.telaInicial{
    background-color:#FB6B6B;
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: -0.012em;
    font-family: 'Righteous'

}

.telaInicial img{
    width: 136px;
    height: 161px;
    

}

.buttonIniciar{
    font-size: 18px;
    line-height: 54px;
    font-weight: 400px;
    color: #D70900;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive', sans-serif;
}





.TelaPerguntas{
   background-color: #FB6B6B;
   height: 100vh;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.header{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 30px;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    
}

.perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    
}

.pergunta{
    
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 65px;
    margin-top: 25px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    

}

.pergunta img{
    margin-left: 150px;
    width: 23px;
    height: 20px;
}

.selecionada{
    width: 299px;
    height: 131px;
    }

.selecionada img{
    margin-top: 105px;
   }
   

   .aberta {
    width: 299px;
    height: 131px;
    display: flex;
    flex-direction: column;
    

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
   }

   .opcoes{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    
   }

   .botao {
    width: 85.17px;
    height: 37.17px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 5px;
   }

   .botao.vermelho{
    background: #FF3030;
   }

   .botao.laranja{
    background: #FF922E;
   }

   .botao.verde{
    background: #2FBE34;
   }

   .riscada{
    text-decoration: line-through;
   }

   .naoLembrei{
    color: #FF3030;
   }

   .quaseNaoLembrei{
    color: #FF922E;
   }

   .zap{
    color: #2FBE34;
   }

   footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;


    color: #333333;
   }