.container{
    width: 100%;
    max-width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.telaInicial{
    background-color: #FB6B6B;
}


.TelaPerguntas{
    background-color: blue;
}
